@model IEnumerable<EPCISEvent.MasterData.MainClasses.Location>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Site)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SST)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SSA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GLN13)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SGLN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address1)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.Address2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address3)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.StateProvince)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Latitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Longitude)
            </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Company.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Site.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationType.Identifier)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SST)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SSA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GLN13)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SGLN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address1)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.Address2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address3)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.StateProvince)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitude)
            </td> *@
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
