@model EPCISEvent.MasterData.SupportingClasses.OutboundMapping

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>OutboundMapping</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Company.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FromBusiness)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FromBusiness.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShipFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShipFrom.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToBusiness)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToBusiness.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShipTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShipTo.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
