@model EPCISEvent.MasterData.MainClasses.TradeItem

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TradeItem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GTIN14)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GTIN14)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NDC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NDC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NdcPattern)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NdcPattern)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Company.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdditionalId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdditionalId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdditionalIdTypeCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdditionalIdTypeCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescriptionShort)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescriptionShort)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DosageFormType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DosageFormType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FunctionalName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FunctionalName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManufacturerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManufacturerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NetContentDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NetContentDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LabelDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LabelDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegulatedProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegulatedProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrengthDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrengthDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TradeItemDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TradeItemDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SerialNumberLength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SerialNumberLength)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PackCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PackCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountryOfOrigin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountryOfOrigin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DrainedWeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DrainedWeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DrainedWeightUom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DrainedWeightUom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GrossWeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GrossWeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GrossWeightUom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GrossWeightUom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NetWeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NetWeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NetWeightUom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NetWeightUom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PackageUom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PackageUom)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
