@using Newtonsoft.Json
@model EPCISEvent.MasterData.MainClasses.EventData
@functions {
    public string FormatJson(string json)
    {
        if (string.IsNullOrWhiteSpace(json))
            return json;

        try
        {
            var parsed = JsonConvert.DeserializeObject(json);
            return JsonConvert.SerializeObject(parsed, Formatting.Indented);
        }
        catch
        {
            // If it's invalid JSON, return as-is
            return json;
        }
    }
}

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EventData</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventLog)
        </dt>
        <dd class = "col-sm-10">
            <pre style="background:#f5f5f5; padding:10px; border-radius:5px;">@Html.Raw(FormatJson(Model.EventLog))</pre>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
